#root {
  height: 100vh;
}

.App {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 100%;

  .mainGrid {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    .gridHeader {
      background-color: #22549D;
      color: #F1F5F8;
      flex: 1.5;
      position: relative;

      & > span {
        position: absolute;
        left: 10%;
        bottom: 25%;
        font-size: 3em;
      }
      & > div {
        position: absolute;
        bottom: 25%;
        right: 10%;
        width: 25%;
        color: white;
      }
    }

    .tableWrapper {
      position: sticky;
      flex: 6;
      top: 0;
      max-height: 100%;
      overflow: auto;

      table {
        width: 100%;
        height: 100%;
        display: table;
        border-spacing: 0;
        border-collapse: collapse;
        align-items: center;
        position: relative;

        & > thead > tr {
          & > th {
            position: sticky;
            top: 0;
            background-color: white;
            border-bottom: 1px solid lightgray;
            height: 30px;
            font-size: 1.3em;
          }
        }

        & > tbody {
          display: table-row-group;

          & > tr {
            display: table-row;
            outline: 0;
            vertical-align: middle;

            &:hover {
              background-color: #FAFAFA;
            }

            & > td {
              display: table-cell;
              padding: 10px;
              font-size: 1rem;
              text-align: left;
              letter-spacing: 0.01em;
              vertical-align: inherit;
              border-bottom: 1px solid lightgray;

              &:first-child {
                text-align: center;
                width: 100px;
              }
            }
          }
        }

        & > tfoot > tr > td {
          position: sticky;
          bottom: 0;
          background-color: white;
          border-bottom: 1px solid lightgray;
        }

        .selected {
          background-color: #EBEBEB;
        }
      }
    }
  }

  .bookPreviewContainer {
    flex: 3.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    input {
      width: 100px;
    }

    & > div:first-child {
      background-color: #0E2D70;
      color: white;
      flex: 1.5;
      align-items: center;
      position: relative;

      & > .headerSection {
        position: absolute;
        left: 10%;
        bottom: 25%;
        font-size: 1.5em;
      }
    }

    & > div:not(:first-child) {
      align-items: center;
      flex: 3;

      &.photoSection {
        vertical-align: auto;
        display: inline-flex;
        margin: auto;
      }

      &.infoSection {
        position: relative;
        background-color: #FAFAFA;

        & > table {
          position: absolute;
          top: 10%;
          left: 10%;

          & > thead > tr {
            text-align: left;
            font-size: 1.4em;
            height: 85px;
            color: #656565;
          }

          & > tbody > tr {
            font-size: 1.3em;
            height: 30px;

            & > td {
              min-width: 150px;
              color: #656565;

              &:first-child {
                color: #3c3c3c;
              }
            }

          }
        }
      }
    }
  }
}